<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Kiosk">
	
	<!-- 키오스크 카테고리 목록 불러오기 -->
	<select id="selectAll" resultType="com.operation.dto.KioskCategoryDTO">
		select * from kiosk_category order by ${order};
	</select>
	
	<!-- 키오스크 정보 불러오기 -->
	<select id="selectById" resultType="com.operation.dto.KioskDTO">
		select * from kiosk_info where id = #{id};
	</select>
	
	<!-- 키오스크 기록 추가 -->
	<insert id="insert">
		insert into kiosk_record values(null, #{kiosk_id}, #{member_id}, #{member_nickname}, #{play_date}, #{play_time}, #{play_stage}, #{is_success});
	</insert>
</mapper>