<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Kiosk">
	
	<!-- 키오스크 카테고리 목록 불러오기 -->
	<select id="selectAll" resultType="com.operation.dto.KioskCategoryDTO">
		select * from
		
		<!-- 이름순 정렬 (default) -->
		<if test="order.equals('name')">
			kiosk_category order by ${order};
		</if>
		
		<!-- 게임 플레이순 정렬 -->
		<if test="order.equals('playCnt')">
			<if test="is_game=0">
				kiosk_orderby_playcount_prac;
			</if>
			<if test="is_game=1">
				kiosk_orderby_playcount_game;
			</if>
		</if>
		 
	</select>
	
	<!-- 키오스크 정보 불러오기 -->
	<select id="selectById" resultType="com.operation.dto.KioskDTO">
		select * from kiosk_info where id = #{id};
	</select>
	
	<!-- 키오스크 기록 추가 -->
	<insert id="insert">
		insert into kiosk_record values(null, #{kiosk_id}, #{member_id}, #{member_nickname}, #{play_date}, #{play_time}, #{play_stage}, #{is_success});
	</insert>
</mapper>