<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<select id="idDuplicationCheck" resultType="Boolean">
		select count(*) from
		member where id like #{id};
	</select>

	<select id="emailDuplicationCheck" resultType="Boolean">
		select count(*)
		from member where email = #{email};
	</select>
	
	<select id="phoneDuplicationCheck" resultType="Boolean">
		select count(*)
		from member where phone = #{phone};
	</select>

	<select id="recommenderDuplicationCheck" resultType="Boolean">
		select
		count(*) from member where id = #{id};
	</select>

	<!-- 로그인 / 마이페이지 정보 확인 시 아이디, 비밀번호 확인 -->
	<select id="chkInfo" resultType="Boolean">
		select count(*) from member
		where id = #{id} and pw = #{pw};
	</select>

	<insert id="signupUser">
		insert into member (id, pw, name, nickname, phone
		<if test="email!=null">
			, email
		</if>
		,birthday, gender, profile_image
		<if test="recommender_id!=null">
			, recommender_id
		</if>
		) values
		(#{id}, #{pw}, #{name},
		<if test="nickname != null and nickname != ''">
			#{nickname}
		</if>
		<if test="nickname == null or nickname == ''">
			#{id}
		</if>
		,#{phone}
		<if test="email!=null">
			, #{email}
		</if>
		,#{birthday},#{gender},null
		<if test="recommender_id!=null">
			, #{recommender_id}
		</if>
		);
	</insert>
	
	<!-- 마이페이지 정보 불러오기 -->
	<select id="selectInfoById"
		resultType="com.operation.dto.MemberDTO">
		select * from member where id = #{id};
	</select>
	
	
	<!-- 닉네임 중복 확인 -->
	<select id="selectByNickname" resultType="Boolean">
		select count(*) from member where nickname = #{nickname};
	</select>
	
	<!-- 닉네임 가져오기 -->
	<select id="selectNickNameById" resultType="String">
		select nickname from member where id = #{id};
	</select>
	
	<!-- 개인정보 수정 -->
	<update id="updateInfo">
		update member set ${key} = #{value} where id = #{id};
	</update>
	
	<!-- 프로필 이미지 불러오기 -->
	<select id="selectProfileImgById" resultType="String">
		select profile_image from member where id = #{id};
	</select>
	
	<!-- 프로필 이미지 불러오기 -->
	<select id="selectProfileImgByNickBoard" resultType="String">
		select profile_image from member where nickname = #{memberNickname};
	</select>
	
	<!-- 마이페이지 메인 화면 정보 불러오기 ( 프로필 이미지 , 레벨 , 포인트 정보 ) -->
	<resultMap id="MainMypageInfo" type="java.util.HashMap">
		<result property="profile_image" column="profile_image"/>
		<result property="point" column="point"/>
		<result property="level_id" column="level_id"/>
	</resultMap>
	
	<select id="selectMainMypageInfoById" resultMap="MainMypageInfo">
		select profile_image, level_id, point from member where id = #{id};
	</select>
</mapper>