<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Qna">
	<resultMap id="qna_info" type="java.util.Map">
		<result property="id" column="id" />
		<result property="member_id" column="member_id" />
		<result property="member_nickname" column="member_nickname" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="is_secret" column="is_secret"/>
		<result property="write_date" column="write_date" />
		<result property="file_cnt" column="file_cnt" />
		<result property="anwser" column="anwser"/>
	</resultMap>
	
	<resultMap id="qna_questionInfo" type="java.util.Map">
		<result property="id" column="id" />
		<result property="member_id" column="member_id" />
		<result property="member_nickname" column="member_nickname" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="is_secret" column="is_secret"/>
		<result property="write_date" column="write_date"/>
		<result property="file_names" column="file_names"/>
		<result property="file_ids" column="file_ids"/>
	</resultMap>
	
	<resultMap id="qna_answerInfo" type="java.util.Map">
		<result property="id" column="id" />
		<result property="content" column="content" />
		<result property="file_names" column="file_names"/>
		<result property="file_ids" column="file_ids"/>
	</resultMap>

	<!-- 질문 게시글 작성 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into qna_question_board values (null, #{member_id}, #{member_nickname}, #{title}, #{content}, default, #{is_secret});
	</insert>
	
	<!-- 답변 게시글 작성 -->
	<insert id="insertAnswer" useGeneratedKeys="true" keyProperty="id">
		insert into qna_answer_board values (null, #{qna_question_board_id}, #{content}, default);
	</insert>
	
	<!-- 게시글 목록 불러오기 -->
	<select id="selectAll" resultMap="qna_info">
		select * from qna_info order by id desc limit #{start},#{count};
	</select>
	
	<!-- 게시글 개수 불러오기 -->
	<select id="selectTotalCnt" resultType="int">
		select count(*) from qna_info;
	</select>

	
	<!-- 특정 질문 게시글 불러오기 -->
	<select id="selectQustionById" resultMap="qna_questionInfo">
		select * from qnaQuestionInfo where id= #{id};
	</select>
	
	<!-- 특정 질문 게시글에 대한 답변 불러오기 -->
	<select id="selectAnswerById" resultMap="qna_answerInfo">
		select * from qnaAnswerInfo where qna_question_board_id= #{id};
	</select>
	
	<!-- 게시글 수정 -->
	<update id="updateQuestion">
		update qna_question_board set title=#{title}, content=#{content}, is_secret = #{is_secret} where id=#{id};
	</update>
	
</mapper>