@charset "UTF-8";

.writeBox_guide {
	max-width: 750px;
	margin: 150px auto;
}

.qnaAnswerWrite__btns{
	justify-content: end;
	align-items: center;
}

.qnaAnswerWrite__btns>button {
	width: 100px;
	height: 35px;
	color: #FFFFFF;
	border-radius: 10px;
	border: 0;
}

.write, .updateAnswer {
	margin-left: 15px;
}

.qnaAnswerWrite__file{
	padding: 20px 0;
}

.fileInput__label {
	background-color: #E1E6F5;
	width: fit-content !important;
	height: fit-content;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer;
}

.qnaAnswerWrite__fileInput {
	display: none !important;
}

.qnaAnswerWrite__title{
	font-size: 30px;
}

.qnaAnswerWrite__hr{
	margin:0;
	margin-top:15px;
	height: 1px;
	background-color: #7d7d7d50;
}

.fileNameList{
	padding: 0 5px;
	align-items:center;
	max-width: calc(100% - 80px);
	overflow-y: auto;
}

.fileNameTag{
	padding:0 10px;
	width: fit-content;
}

.fileName{
	cursor:pointer;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fileNameList::-webkit-scrollbar {
    width: 5px;
    
}
.fileNameList::-webkit-scrollbar-thumb{
    background-color: #7d7d7d20;
    border-radius: 10px; 

    border: 5px solid #FFFFFF /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
.fileNameList::-webkit-scrollbar-track{
    background-color: #FFFFFF/* 스크롤바 뒷 배경을 투명 처리한다 */
}

.deleteFileBtn{
	cursor:pointer;
}

.ml5{
	margin-left:5px;
}