@charset "UTF-8";

.boardPost_guide {
	/* max-width: 750px; */
	/* width: 100%; */
	margin: 150px auto;
}

.boardPost__guide {
	max-width: 750px;
	margin: auto;
}

.boardPost {
	position: relative;
}

.naviBackground {
	position: absolute;
	left: calc(((100% - 750px) / 2) + 750px + 50px);
	height: 100%;
	padding: 0px 40px;
	box-sizing: border-box;
}

.stickyContainer {
	position: sticky;
	top: 183px;
	transition: top 0.1s ease 0s;
}

.boardPost__navi {
	position: relative;
}

.navi__conf {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navi__conf:not(:last-child) {
	margin-bottom: 15px;
}

.conf__circle {
	border: 1px solid #7d7d7d50;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
	/* padding: 5px; */
	cursor: pointer;
	width: 55px;
	height: 55px;
}

.conf__circle div {
	font-size: 14px;
}

.conf__count {
	text-align: center;
}

.conf__miniCount {
	display: none;
}

.boardType {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}

.postTitle,
.postInfo,
.postConf,
.files,
.pageBtns__pageLine {
	border-bottom: 1px solid #7d7d7d50;
}

.postTitle {
	margin-top: 100px;
	background-color: #e1e6f5;
	padding: 20px;
	font-size: 25px;
	font-weight: 600;
}

.postInfo {
	display: flex;
	justify-content: space-between;
}

.postInfo__left {
	display: flex;
	align-items: center;
}

.postInfo {
	padding: 15px 0;
}

.postInfo__profile {
	width: 75px;
	height: 75px;
	margin-right: 30px;
}

.userInfo__nickName {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}

.userInfo__writeInfo span {
	color: #7d7d7d;
}

.writeInfo__title {
	margin-right: 10px;
}

.writeInfo__title:first-child+span {
	margin-right: 30px;
}

.postInfo__right {
	display: flex;
	align-items: center;
}

.postInfo__right button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.postInfo__right button:first-child {
	margin-right: 20px;
}

.postConf {
	padding: 50px 0;
}

.files {
	padding: 15px 0;
}

.files__title {
	color: #375abb;
	font-size: 20px;
	margin-bottom: 15px;
}

.files__Line {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.files__Line i {
	margin-right: 10px;
}

.pageBtns__pageLine {
	padding: 15px 0;
	display: flex;
	align-items: center;
}

.pageLine__icon {
	display: flex;
	align-items: center;
	margin-right: 30px;
	cursor: pointer;
}

.pageLine__icon i {
	margin-right: 10px;
}

.pageLine__title {
	cursor: pointer;
}

#writer_profile {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.fileDown {
	display: flex;
	cursor: pointer;
}

/*댓글*/
.replyBox__title {
	margin-top: 80px;
	font-size: 20px;
	font-weight: 700;
}

#replyCount {
	color: #375abb;
	margin-left: 5px;
}

.replyBox__replyInput {
	margin: 20px 0 30px 0;
	display: flex;
	align-items: center;
}

#userProfileImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.replyInput__userProfile {
	margin-right: 20px;
	display: flex;
	align-items: center;
}

.replyInput__input {
	width: calc(100% - 50px);
	border: 1px solid #7d7d7d50;
	border-radius: 10px;
}

#replyInput {
	width: 90%;
	border: none;
	padding: 10px 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#replyInput:focus {
	outline: none;
}

.replyInput__input:focus-within {
	border: 2px solid black;
}

#replyInputSubmit {
	width: 9%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.replyLine {
	padding-right: 15px;
}

.replyLine:not(:last-child) {
	border-bottom: 1px solid #7d7d7d50;
	padding-bottom: 20px;
}

.replyWriterInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.writerProfile {
	display: flex;
	align-items: center;
}

.writerProfile>img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 20px;
}

.writerProfile>span:not(:last-child) {
	margin-right: 20px;
}

.replyWriterInfo button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.replyWriterInfo button:first-child {
	margin-right: 20px;
}

.time {
	color: #7d7d7d;
	font-size: 14px;
}

.writer {
	background-color: #e1e6f5;
	border: none;
	border-radius: 4px;
	padding: 4px 8px;
}

.replyConf {
	margin-left: 50px;
	padding: 20px 0;
}

.replyInfo {
	margin-left: 50px;
}

.replyInfo>span {
	margin-right: 20px;
	color: #7d7d7d;
	cursor: pointer;
}

.replyInfo>span i {
	color: #7d7d7d;
}

.rereplyInput {
	display: flex;
	width: calc(100% - 50px);
	margin-left: 50px;
	margin-top: 20px;
}

.rereplyInput #reReplyInputTag {
	width: 80%;
	border: none;
	padding: 10px 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#reReplyInputTag:focus {
	outline: none;
}

.rereplyInput .replyInput__input:focus-within {
	border: 2px solid black;
}

#replyInputCancle {
	width: 9%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.RereplyLine {
	padding: 0 15px 20px 50px;
	background-color: #e1e6f5;
	border-bottom: 1px solid #7d7d7d50;
}

.RereplyLine .replyWriterInfo {
	margin-top: 0;
	padding-top: 20px;

}

.RereplyLine .writer {
	background-color: #375abb;
	color: white;
}


#pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#pagination a {
	cursor: pointer;
	width: 40px;
	height: 40px;
	font-size: 20px;
	border-radius: 50px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	background-color: #e1e6f5;
}

@media (max-width: 1050px) {
	.naviBackground {
		left: 0px;
	}

	.boardPost__navi {
		position: fixed;
		left: 0px;
		bottom: 0px;
		width: 100%;
		background-color: white;
		display: flex;
		justify-content: space-evenly;
		padding: 10px 0;
	}

	.navi__conf {
		display: flex;
		align-items: end;
		width: 70px;
	}

	.navi__conf:nth-child(even) {
		border: none;
		padding: 0;
	}

	.navi__conf:not(:last-child) {
		margin: 0;
	}

	.conf__circle {
		border: none;
		height: auto;
		width: 100%;
	}

	.conf__circle div {
		display: flex;
	}

	.conf__miniCount {
		display: block;
		margin-left: 5px;
	}

	.conf__count {
		display: none;
	}
}